{
  "extends": ["stylelint-config-standard", "stylelint-config-recess-order"],
  "plugins": [
    "stylelint-use-logical"
  ],
  "rules": {
		"max-nesting-depth": 3,
    "csstools/use-logical": "always"
  }
}
