@layer base, component;

:root {
	font-size: 100%;
	line-height: 1.8;

	/* size */
	--size-2xs: calc(1rem / 1.95);
	--size-xs: calc(1rem / 1.5625);
	--size-sm: calc(1rem / 1.25);
	--size-md: 1rem;
	--size-lg: calc(1rem * 1.25);
	--size-xl: calc(1rem * 1.5625);
	--size-2xl: calc(1rem * 1.95);

	/* font setting */
	--font-serif: "Shippori Mincho", serif;
	--font-monospace: "Space Mono", monospace;
	--font-code: "Iosevka Web", monospace;

	/* heading */
	--font-size-h1: calc(1rem * 1.5);
	--line-height-h1: 1rlh;
	--font-size-h2: calc(1rem * 1.3);
	--line-height-h2: 1rlh;
	--font-size-h3: calc(1rem * 1.1);
	--line-height-h3: 1rlh;

	/* line setting */
	--line-xs: calc(1rem / 16);
	--line-sm: calc(1rem / 12);
	--line-md: calc(1rem / 8);
	--line-lg: calc(1rem / 4);

	/* content sizing */
	--max-contents-width: 40em;

	/* color */
	--color-bg: #1d1f21;
	--color-bg-2: #282a2e;
	--color-bg-3: #373b41;
	--color-text: #c5c8c6;
	--color-link: #81a2be;
	--color-accent: #b5bd68;
	--color-accent-2: #8abeb7;
}

@view-transition {
	navigation: auto;
}

@media (prefers-reduced-motion) {
	@view-transition {
		navigation: none;
	}
}

@layer base {
	/* https://github.com/elad2412/the-new-css-reset/issues/66 */
	*:where(
			:not(
					html,
					iframe,
					canvas,
					img,
					svg,
					video,
					div,
					span,
					svg *,
					symbol *,
					pre
				)
		) {
		all: unset;
		display: revert;
	}

	body {
		display: grid;
		grid-template-rows:
			[header-start] auto
			[header-end] 2rlh
			[main-start] 1fr
			[main-end] 6rlh
			[footer-start] auto
			[footer-end] 1rlh;
		grid-template-columns: repeat(auto-fill, var(--size-md));
		max-inline-size: var(--max-contents-width);
		padding-inline: 1rem;
		margin-block: var(--size-xl);
		margin-inline: auto;
		font-family: var(--font-serif);
		color: var(--color-text);
		background-color: var(--color-bg);
	}
}

@layer component {
	h1 {
		margin-block: 3rlh 0;
		font-size: var(--font-size-h1);
		line-height: var(--line-height-h1);
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-block: 2rlh 1rlh;
	}

	h2 {
		font-size: var(--font-size-h2);
		line-height: var(--line-height-h2);
	}

	h3 {
		font-size: var(--font-size-h3);
		line-height: var(--line-height-h3);
	}

	p {
		margin-block-start: 1rlh;

		+ p {
			margin-block-start: 0;
			text-indent: 1em;
		}
	}

	a {
		text-decoration: underline;
	}

	ul,
	ol {
		margin-block-start: 1rlh;
	}

	ul ul,
	ul ol,
	ol ol,
	ol ul {
		margin-block-start: 0;
	}

	li {
		/* margin-left: 1rem; */
		list-style: none;
	}

	time {
		font-family: var(--font-monospace);
		font-size: 0.8235rem;
	}

	img {
		inline-size: 100%;
	}

	pre {
		padding: var(--size-md) var(--size-xl);
		margin-block: 1rlh 0;
		font-family: var(--font-code);
		border-radius: calc(1rem / 6); /* TODO: refactor */
	}

	small {
		font-size: var(--size-sm);
	}

	main {
		grid-row: main;
		grid-column: 1 / -1;

		& :first-child {
			margin-block-start: 0;
		}
	}

	/* .post-list { */

	/* list-style: none; */

	/* } */

	header {
		display: grid;
		grid-template:
			"logo time" auto
			"title title" auto / 1fr auto;
		grid-row: header;
		grid-column: 1 / -1;

		& :first-child {
			margin-block-start: 0;
		}
	}

	.header-logo {
		grid-area: logo;
		font-family: var(--font-monospace);
		font-size: 1rem;
		text-underline-offset: 0.125em;
	}

	.header-time {
		grid-area: time;
		align-self: center;
	}

	.header-title {
		grid-area: title;
	}

	.headline-list {
		display: grid;
	}

	.headline {
		display: grid;
		grid-template: "time a" auto / auto auto 1fr;
		column-gap: 0.5rem;
		margin-inline-end: auto;

		a {
			grid-area: a;
			text-decoration: underline;
		}

		time {
			grid-area: time;
			align-self: self-end;
			font-size: var(--size-sm);
		}
	}

	footer {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-row: footer;
		grid-column: 1 / -1;

		small {
			align-self: end;
			font-family: var(--font-monospace);
			font-size: var(--size-sm);
		}
	}

	.footer-link {
		display: grid;
		grid-template-columns: auto auto auto;
		column-gap: var(--size-md);
		font-size: var(--size-sm);
	}
}
