{% set pageId = "root" %}
{% extends 'src/layouts/base.njk' %}

{% block main %}
    <h2>投稿</h2>
    <ul class="headline-list">
        {%- for article in collections.article -%}
            {{ c('headline', { article: article }) }}
        {%- endfor -%}
    </ul>
{% endblock %}