<nav>
    <a href="https://www.kyoto-aquarium.com/event/index.html" target="_blank" rel="noreferrer">Schedule</a>
    <a href="https://github.com/camiha/" target="_blank" rel="noreferrer">Github</a>
    <a href="https://twitter.com/_camiha" target="_blank" rel="noreferrer">X</a>
</nav>