{% extends 'src/layouts/base.njk' %}

{% block main %}
    {{ content | safe }}
    <ul>
        {%- for tag in tags -%}
            <li>
                <a href="/tags/{{ tag }}/">{{ tag }}</a>
            </li>
        {%- endfor -%}
    </ul>
{% endblock %}