{%- from "src/components/c.njk" import c -%}
<html lang="ja">
    <head>
        <meta charSet="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>penguin.show</title>
        {% endif %}
        <meta name="description" content="penguin.show"/>
        <meta name="author" content="camiha"/>
        <meta keywords="penguin, show, blog, camiha"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/index.css"/>
        <link rel="preconnect" href="https://pvinis.github.io"/>
    </head>
    <body>
        {% include "src/components/header.njk" %}
        <main>
            {%- block main -%}{%- endblock -%}
        </main>
        {% include "src/components/footer.njk" %}
        <link href="https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css" rel="stylesheet"/>
    </body>
</html>